.wrapper {
    .productsSellCount {
        display: flex;
        gap: 24px;
        height: 400px;

        &Left {
            flex: 1;
        }

        &Right {
            width: 380px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 14px;
        }
    }

    &Select {
        padding: 0 20px 0 45px;
    }
}

@media screen and (max-width: 1001px) {
    .wrapper {
        .productsSellCount {
            flex-direction: column;
            height: auto;
            gap: 16px;
            padding: 0 15px;

            &Left {
                height: 300px;

                &Chart {
                    height: 300px;
                }
            }

            &Right {
                width: 100%;
                align-items: stretch;
            }
        }

        &Select {
            padding: 0 8px;
            width: 100%;
        }
    }
}
