@import '@/app/css/_variables.scss';

.item {
    display: flex;
    margin: 15px 0 25px;
    background-color: var(--bg-5);
    padding: 15px;
    border-radius: 14px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.25);

    &Image {
        margin-right: 14px;
        flex-shrink: 0;
        position: relative;

        & img {
            width: 85px;
            height: 85px;
            border-radius: 16px;
            object-fit: cover;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
            transition: transform 0.2s ease;
        }
    }

    &Content {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        width: 100%;

        &Name {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 12px;
            color: var(--text-1);
            letter-spacing: 1.3px;
        }

        &Description {
            font-size: 12px;
            color: var(--text-1-darker);
            min-height: 50px;
        }

        &Size {
            outline: none;
            border: 1px solid var(--border-neutral);
            height: 35px;
            font-size: 14px;
            margin-bottom: 12px;
            color: var(--text-1-dark);
            border-radius: 5px;
        }

        &Amount {
            outline: none;
            border: 1px solid var(--border-neutral);
            border-radius: 4px;
            height: 22px;
            font-size: 12px;
            position: relative;
            background-color: var(--bg-4);

            &::before {
                content: 'Ad.';
                position: absolute;
                top: 50%;
                left: 5px;
                transform: translateY(-50%);
                font-size: 12px;
            }
        }

        &Quantity {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 12px;
    
            &Decrease,
            &Increase {
                background: var(--bg-1);
                color: var(--text-3);
                border: none;
                width: 35px;
                height: 30px;
                line-height: 30px;
                font-size: 14px;
                font-weight: bold;
                border-radius: 6px;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    background: var(--bg-1-darker);
                }
            }
    
            &Amount {
                font-size: 14px;
                font-weight: bold;
                text-align: center;
                padding: 8px 10px;
                background: var(--bg-4);
                border-radius: 5px;
                border: 1px solid var(--border-neutral);
                color: var(--text-1);
                height: 100%;
                width: 55px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &Bottom {
            margin-top: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 10px 0 10px;

            &Price {
                font-size: 18px;
                font-weight: bold;
                color: var(--text-2-dark);
                font-style: italic;
                letter-spacing: 1.5px;
            }

            &Add {
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                border-radius: 5px;
                background-color: var(--bg-1);
                color: var(--text-3);
                font-size: 14px;
                padding: 6px 12px;
                font-weight: bold;
                & svg {
                    margin-left: 3px;
                }

                &:active {
                    background-color: var(--bg-1-darker);
                    color: var(--text-4);
                }
            }
        }
    }
}