@import '@/app/css/_variables.scss';

.title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-4);
    background-color: var(--bg-2-dark);
    letter-spacing: 1.5px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.topButtons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    padding: 25px 0;

    &Add{
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-weight: 700;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--success);
        color: var(--text-3);

        & svg {
            margin-left: 5px;
        }

        &:hover {
            filter: brightness(1.2);
        }
    }
}

.buttons {
    display: flex;
    gap: 10px;

    &Edit, &Delete {
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-weight: 700;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &Edit {
        background-color: var(--warning);
        color: var(--text-3);

        &:hover {
            filter: brightness(1.2);
        }
    }

    &Delete {
        background-color: var(--danger);
        color: var(--text-3);

        &:hover {
            filter: brightness(1.2);
        }
    }
}

@media screen and (max-width: 1001px) {
    .title, .topButtons {
        margin-bottom: 15px;
    }
    
    .topButtons {
        padding: 0;
    }
}