@import '@/app/css/_variables.scss';
.buttons {
    display: flex;
    gap: 10px;

    &Edit, &Delete {
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-weight: 700;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &Edit {
        background-color: $secondary-text-color;
        color: $secondary-color;

        &:hover {
            background-color: $tertiary-color;
        }
    }

    &Delete {
        background-color: $danger-color;
        color: $secondary-color;

        &:hover {
            background-color: $tertiary-color;
        }
    }
}