@import '@/app/css/_variables.scss';

.title {
    font-size: 1.5rem;
    font-weight: 700;
    color: $text-color-12;
    background-color: $text-color-10;
    letter-spacing: 1.5px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

}

.topButtons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    padding: 25px 25px;

    &Add{
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-weight: 700;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $bg-color-12;
        color: $text-color-9;

        & svg {
            margin-left: 5px;
        }

        &:hover {
            background-color: rgba($bg-color-12, 0.8);
        }
    }
}

.buttons {
    display: flex;
    gap: 10px;

    &Edit, &Delete {
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-weight: 700;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &Edit {
        background-color: $text-color-12;
        color: $text-color-9;

        &:hover {
            background-color: $text-color-10;
        }
    }

    &Delete {
        background-color: $text-color-14;
        color: $text-color-9;

        &:hover {
            background-color: $text-color-10;
        }
    }
}