$primary-color: #1a1a1a;
$secondary-color: #eaeaea;
$tertiary-color: #f3c47f;

$primary-text-color: #BD2131;
$secondary-text-color: #c55c1e;

$success-color: #4BB543;
$danger-color: #ff4d4d;

$greyish-color: #cdcdcd;