@import '@/app/css/_variables.scss';

body {
  background-color: $text-color-9;
}

.container {
  width: 90%;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: $scroll-4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, $scroll-1, $scroll-2);
  border-radius: 10px;
  transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, $scroll-2, $scroll-3);
}

* {
  scrollbar-width: thin;
  scrollbar-color: $scroll-1 $scroll-4;
}

.swal2-container {
  z-index: 99999999 !important;
}

.swal2-confirm {
  background-color: $bg-color-11 !important;
}

.swal2-deny {
  background-color: $bg-color-7 !important;
}

.display-none {
  display: none !important;
}

[id*='qr-canvas'] {
  width: 250px !important;
  height: 250px !important;
}
