@import '@/app/css/_variables.scss';

.tablesWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 20px;
    padding: 20px 0;
    position: relative;
}

.tablesTopButtons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    padding: 25px 0;

    &Add,
    &QR {
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-weight: 700;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;

        & svg {
            margin-left: 5px;
        }
    }

    &Add {
        background: var(--success);
        color: var(--text-3);
    }

    &QR {
        background: var(--bg-1-dark);
        color: var(--text-3);
    }
}

.allQrModal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.swalAllQrModalPopup {
    width: 600px !important;
}

.swalAllQrModalHTMLContainer {
    max-height: 600px;
    min-height: 400px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1001px) {
    .tablesWrapper {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}