@import '@/app/css/_variables.scss';

.tablesWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 20px;
    padding: 20px;
    position: relative;
}
.tablesTopButtons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    padding: 25px 25px;

    &Add, &QR {
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-weight: 700;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;

        & svg {
            margin-left: 5px;
        }
    }

    &Add {
        background: $success-color;
        color: $secondary-color;
    }
    &QR {
        background: $secondary-text-color;
        color: $secondary-color;
    }
}

.table {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 200px;

    &Status {
        position: absolute;
        right: 25px;
        top: 10px;

        &Empty, &Active {
            color: $greyish-color;
            &::before {
                content: '';
                position: absolute;
                top: 2px;
                right: -16px;
                width: 12px;
                height: 12px;
                border-radius: 5px;
                opacity: 0.8;
            }
        }

        &Empty {
            &::before {
                background-color: $danger-color;
            }
        }

        &Active {
            &::before {
                background-color: $success-color;
            }
        }
    }
    &Title {
        margin: 0;
        font-size: 20px;
        color: #333;
    }

    &Orders {
        background: #eee;
        padding: 10px;
        border-radius: 5px;
        margin: 10px 0;
        height: 175px;
        overflow-y: auto;

        &Item {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 1fr;
            font-size: 14px;
            color: $secondary-text-color;

            &:not(:last-child) {
                margin-bottom: 10px;
                border-bottom: 1px dashed #ccc;
                padding-bottom: 5px;
            }

            & >:last-child {
                justify-self: end;
            }
        }

        &Titles {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 1fr;
            font-weight: bold;
            color: $primary-text-color;
            margin-bottom: 15px;
            border-bottom: 1px solid $greyish-color;
            padding-bottom: 5px;

            & >:last-child {
                justify-self: end;
            }
        }

        &Empty {
            font-size: 14px;
            color: $greyish-color;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
        }
    }

    &Total {
        font-weight: bold;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        color: $primary-text-color;
    }

    &Buttons {
        display: flex;
        gap: 10px;
        margin-top: auto;
        margin-bottom: 5px;

        & button {
            flex: 1;
            padding: 10px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            font-size: 14px;
        }

        &Finish {
            background-color: $secondary-text-color;
            color: $secondary-color;
        }

        &Qr {
            background-color: #bbb;
            color: #fff;
        }
    }

    &Delete {
        &Button {
            background-color: $danger-color;
            color: $secondary-color;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-weight: 700;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            float: right;
            margin-top: 8px;
        }
    }
}

.allQrModal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.swalAllQrModalPopup {
    width: 600px !important;
}

.swalAllQrModalHTMLContainer {
    max-height: 600px;
    min-height: 400px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1001px) {
    .tablesWrapper {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}