@import '@/app/css/_variables.scss';

.orders {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;

    &Content {
        min-width: 80%;
        flex-grow: 4;
        display: flex;
        flex-direction: column;
        gap: 25px;

        &>div {
            min-height: 40vh;
        }
    }

    &Notifications {
        flex-grow: 1;
        overflow: hidden;
        border: 2px solid var(--bg-1-dark);
        position: sticky;
        top: 0;
        height: 100vh;
    }
}

@media only screen and (max-width: 1001px) {
    .orders {
        flex-direction: column; // Ana container'ı dikey yönde sırala

        &Content {
            min-width: 100%; // İçerik tam genişlik kaplasın
            order: 1; // İçerik ilk sırada gelsin
        }

        &Notifications {
            order: 2; // Bildirimler ikinci sırada (altta) gelsin
            position: relative; // Sticky pozisyonunu kaldır
            height: auto; // Yüksekliği içeriğe göre ayarla
            width: 100%; // Tam genişlik kaplasın
            margin-top: 20px; // Üstten boşluk ekle
        }
    }
}
