@import '@/app/css/_variables.scss';

.categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    margin-bottom: 25px;
}

.category {
    margin-bottom: 15px;
    width: 100%;
    position: relative;

    & > div {
        width: 100%;
    }

    & input {
        width: 100%;
    }

    &Delete {
        position: absolute;
        right: 14px;
        top: 6px;
    }
}

@media screen and (max-width: 1001px) {
    .category {
        &>div {
            width: 100%;
        }
    }
}