@import '@/app/css/_variables.scss';
.category {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    background-color: $text-color-12;
    color: $text-color-9;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 4px;
    margin-bottom: 6px;
    cursor: pointer;
}