@import '@/app/css/_variables.scss';
.loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: var(--bg-1-darker);

    &Title {
        color: var(--text-3);
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }
}

.loginButton {
    background-color: var(--bg-1) !important;
    color: var(--text-3) !important;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 700;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}