@import '@/app/css/_variables.scss';

.wrapper {
    padding-bottom: 25px;
    min-height: 30vh;

    .title {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--text-3);
        background-color: var(--bg-1-darker);
        letter-spacing: 1.5px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        position: relative;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .topButtons {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 2rem;

        & button {
            background: var(--success);
            color: var(--text-3);
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-weight: 700;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
        
            & svg {
                margin-left: 5px;
            }

            &:hover {
                filter: brightness(1.1);
            }
        }
    }
}