.tableOrderCount {
    display: flex;
    gap: 24px;
    height: 400px;

    &ChartWrapper {
        flex: 1;
    }

    &DateRangeWrapper {
        width: 380px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 14px;
    }
}

@media screen and (max-width: 1001px) {
    .tableOrderCount {
        flex-direction: column;
        height: auto;
        gap: 16px;
        padding: 0 15px;

        &ChartWrapper {
            height: 300px;

            &Chart {
                height: 300px;
            }
        }

        &DateRangeWrapper {
            width: 100%;
            align-items: stretch;
        }
    }
}
