@import '@/app/css/_variables.scss';

.item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    background: var(--bg-5);
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
    position: relative;

    &Delete {
        position: absolute;
        right: 8px;
        top: 8px;
        padding: 8px;
        border-radius: 4px;
        cursor: pointer;

        & svg {
            fill: var(--danger);
            width: 18px;
            height: 18px;
        }

        &:active {
            background: rgba(0, 0, 0, 0.05);
        }
    }

    &Name {
        font-size: 16px;
        font-weight: 600;
        color: var(--text-2);
        margin-bottom: 2px;
        padding: 0 24px;
    }

    &Size {
        font-size: 14px;
        color: var(--text-1);
        margin-bottom: 12px;
    }

    &Quantity {
        display: flex;
        align-items: center;
        gap: 12px;
        margin: 4px 0;

        &Decrease,
        &Increase {
            background: var(--bg-4);
            color: var(--text-2);
            border: none;
            width: 40px;
            height: 40px;
            font-size: 22px;
            font-weight: 400;
            border-radius: 8px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            -webkit-tap-highlight-color: transparent;

            &:active {
                background: var(--bg-3);
                transform: scale(0.96);
            }
        }

        &Amount {
            font-size: 18px;
            font-weight: 500;
            min-width: 32px;
            text-align: center;
            color: var(--text-1);
        }
    }

    &Price {
        font-size: 16px;
        font-weight: 600;
        color: var(--text-1);
        margin-top: 6px;
        background: var(--bg-4);
        padding: 6px 16px;
        border-radius: 20px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }
}