@import '@/app/css/_variables.scss';

.item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 15px;
    background: var(--bg-4);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
    position: relative;

    &Delete {
        position: absolute;
        right: 6px;
        top: 6px;

        & svg {
            fill: var(--danger);
        }
    }

    &Name {
        font-size: 16px;
        font-weight: bold;
        color: var(--text-2-darker);
        margin-bottom: 5px;
    }

    &Size {
        font-size: 12px;
        color: var(--text-2-dark);
        margin-bottom: 5px;
    }

    &Quantity {
        display: flex;
        align-items: center;
        gap: 8px;

        &Decrease,
        &Increase {
            background: var(--bg-2);
            color: var(--text-3);
            border: none;
            width: 32px;
            height: 32px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 6px;
            cursor: pointer;
            transition: 0.3s;
        }

        &Amount {
            font-size: 16px;
            font-weight: bold;
            min-width: 40px;
            text-align: center;
            padding: 4px 10px;
            background: var(--bg-5);
            border-radius: 5px;
            border: 1px solid var(--border-neutral);
        }
    }

    &Price {
        font-size: 14px;
        font-weight: bold;
        color: var(--text-1);
        margin-top: 5px;
    }
}