@import '@/app/css/_variables.scss';

.waitingOrders {
    position: relative;
    background: var(--bg-3);

    &Empty {
        font-size: 18px;
        color: var(--text-1);
        padding: 15px 25px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        z-index: 0;
    }

    &Title {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--text-4);
        background-color: var(--bg-2-dark);
        letter-spacing: 1.5px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5rem;
        position: relative;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    &List {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        gap: 1.5rem;
        padding: 1.5rem;

        &Item {
            padding: 1.5rem;
            text-align: center;
            cursor: pointer;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            border-radius: 12px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            background-color: var(--bg-4);
            display: flex;
            flex-direction: column;

            &Title {
                font-size: 1.1rem;
                font-weight: 700;
                color: var(--text-1);
                margin-bottom: 0.3rem;
            }

            &Date {
                font-size: 0.9rem;
                color: var(--text-1-darker);
                margin-bottom: 1rem;
            }

            &ItemsWrapper {
                margin-bottom: 15px;
                border-radius: 8px;
                background-color: var(--bg-5);

                &Item {
                    display: grid;
                    grid-template-columns: 3fr 0.5fr 1fr;
                    font-size: 0.9rem;
                    color: var(--text-2);
                    padding: 10px 15px;
                    max-height: 60px;

                    & img {
                        margin-right: 10px;
                        max-height: 40px;
                        max-width: 40px;
                        width: auto;
                    }

                    &>div {
                        align-self: center;
                        white-space: nowrap;
                        flex: 1;
                        text-align: left;
                        display: flex;
                        align-items: center;

                        &:last-child {
                            justify-self: end;
                        }
                    }
                }
            }

            &Info {
                margin-top: auto;

                &Status {
                    background-color: var(--danger);
                    color: var(--text-3);
                    border: none;
                    padding: 0.5rem 1rem;
                    border-radius: 8px;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                    font-weight: 700;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    margin-top: 15px;
                }

                &UpdatedBy,
                &Note {
                    color: var(--text-1);
                    border: none;
                    padding: 0.5rem 1rem;
                    border-radius: 8px;
                    transition: background-color 0.3s ease;
                    text-align: right;
                    cursor: default;
                    font-size: 14px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    & span:last-child {
                        font-weight: bold;
                        margin-left: 5px;
                    }

                }

                &UpdatedBy {
                    margin-top: 5px;
                    font-size: 12px;
                    color: var(--text-1-darker);
                }

                &Note {
                    text-align: left;
                    justify-content: flex-start;
                    margin-bottom: 4px;
                    color: var(--text-1);

                    & span:first-child {
                        white-space: nowrap;
                    }

                    & span:last-child {
                        text-align: center;
                    }
                }
            }
        }

        &Item:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
        }
    }
}

@media screen and (max-width: 1001px) {
    .waitingOrders {
        &List {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

            &Item {
                &Item {
                    grid-template-columns: 3fr 1fr 1fr;
                }

                & * {
                    white-space: nowrap;
                }
            }
        }
    }
}