@import '@/app/css/_variables.scss';

.waitingOrders {
    position: relative;
    &Empty {
        font-size: 18px;
        color: #7d5a3a;
        padding: 15px 25px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        z-index: 0;
    }
    &Title {
        font-size: 1.5rem;
        font-weight: 700;
        color: $secondary-text-color;
        background-color: $tertiary-color;
        letter-spacing: 1.5px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5rem;
        position: relative;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    &List {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        gap: 1.5rem;
        padding: 1.5rem;

        &Item {
            border: 1px solid #e0e0e0;
            padding: 1.5rem;
            text-align: center;
            cursor: pointer;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            border-radius: 12px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
            display: flex;
            flex-direction: column;

            &Title {
                font-size: 1.1rem;
                font-weight: 700;
                color: $primary-text-color;
                margin-bottom: 0.3rem;
            }

            &Date {
                font-size: 0.9rem;
                color: #aaa;
                margin-bottom: 1rem;
            }

            &Item {
                display: grid;
                grid-template-columns: 4fr 1fr 1fr;
                margin-bottom: 0.75rem;
                font-size: 0.9rem;
                color: $secondary-text-color;


                & > div {
                    flex: 1;
                    text-align: left;

                    &:last-child {
                        justify-self: end;
                    }
                }
            }

            &Status {
                background-color: $danger-color;
                color: #ffffff;
                border: none;
                padding: 0.5rem 1rem;
                border-radius: 8px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                font-weight: 700;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                margin-top: 10px;
            }

            &Waiter, &Note {
                color: #7d5a3a;
                background-color: #f5f5f5;
                border: none;
                padding: 0.5rem 1rem;
                border-radius: 8px;
                transition: background-color 0.3s ease;
                margin: auto 0 0 0;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                text-align: right;
                cursor: default;
                font-size: 14px;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                & span:last-child {
                    font-weight: bold;
                    margin-left: 5px;
                }

            }

            &Note {
                text-align: left;
                justify-content: flex-start;
                margin-bottom: 4px;
            }
        }

        &Item:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
        }
    }
}

@media screen and (max-width: 1001px) {
    .waitingOrders {
        &List {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            &Item {
                &Item {
                    grid-template-columns: 3fr 1fr 1fr;
                }

                & * {
                    white-space: nowrap;
                }
            }
        }
    }
}